body{

    margin: 0;
    padding: 0;
    min-height: 1550px;
}
section{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.bg{
    position: fixed;
    background: url(../images/microsoft.png);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}